*::before, *, *::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,p,ul{
    margin: 1rem 0;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 0;
    z-index: 1000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav h1{
    margin-left: 40px;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-button{
    margin: 0 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 1.3rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.15s;
    outline: none;
}
.nav-button:hover{
    border-bottom: 2px solid white;
}
.nav-buttons:last-child{
    margin-right:40px ;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 175px 0 100px 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 50px;
}
.home{
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.home img{
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
}
.intro{
    max-width: 55ch;
}
ul li{
    margin-left: 1rem;
}
.list{
    text-align: left;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
    width: 100%;
    place-items: center;
    margin-top: 2rem;
}
.item img{
    width: 100%;
    aspect-ratio: 1/0.8;
    object-fit: cover;
}

.item{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
}

.about{
    width: 50vw;
}

.about p{
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.about p:last-of-type{
    border: none;
}

@media (max-width:768px){
    .content{
        padding: 10px;
        width: 90vw;
    }
    .grid{
        grid-template-columns: 1fr;
    }

    p{
        font-size: 0.8rem;
    }
    .about{
        width: 90vw;
    }
}